{% extends 'customers/base.html' %}
{#{% for p in product %}#}
{% block content %}
<div class="container py-5">
    <div class="row text-center py-3">
        <div class="col-lg-6 m-auto">
            <div class="row">
                <div class="card h-100">
                    <table>
                        <tr>
                            <th>
                                <div class="card-body">
                                    {% if product.image %}
                                    <img src="{{ product.image.url }}" class="card-img-top" alt="product image">
                                    {% endif %}

                                    <p class="card-text">name : {{   product.name }}</p>
                                    <p class="card-text">price : {{ product.price }}</p>
                                    <p class="card-text">price discount : {{ product.price_discount }}</p>
                                    <p class="card-text">description : {{ product.description}}</p>
                                    <p class="card-text">ranking : {{ product.ranking}}</p>
                                    <p class="card-text">color : {{ product.color}}</p>

                                    {# <input type="button" value="افزودن به سبد خرید">#}
                                    <a href="{% url 'orders:add_to_cart' pk=product.id %}"
                                       class="btn btn-primary btn-md my-0 p">
                                        اضافه کردن به سبد خرید
                                    </a>
                                </div>
                            </th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{#{% endfor %}#}
{% endblock %}
